# WEEK 3 ASSIGNMENT PART - 2
## Segmenting and Clustering Neighborhoods in Toronto

In [23]:
import pandas as pd

In [24]:
df_tor = pd.read_html(io="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M",header=0, na_values=['Not assigned'])[0]

In [36]:
df_tor.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [37]:
df_tor.shape

(210, 3)

In [38]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df_tor.Neighbourhood.fillna(df_tor.Borough, inplace=True)
#ignore/remove dataframe rows where Borough = 'Not assigned'
df_tor.dropna(inplace=True)
df_tor.shape

(210, 3)

In [39]:
#When Postcode is listed twice and has two neighborhoods, combine Neighbourhood values into one row with the neighborhoods
df_etl = df_tor.groupby(['Postcode','Borough'],as_index=False).agg(lambda s: ', '.join(s))

In [40]:
df_etl.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [41]:
df_etl.shape

(103, 3)

#### LATITUDE LONGITUDE DATA FOR POSTCODES

In [42]:
latlong = pd.read_csv('http://cocl.us/Geospatial_data')

In [43]:
latlong.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [44]:
# Joining Data Frames
df_etl = df_etl.join(latlong.set_index('Postal Code'), on='Postcode')
df_etl.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848